#top{
    width: 100%;
    background: purple;
    height: 50px;
    text-align:center;
    padding-top: 20px;
}
#top h1{
        margin: 0 auto;
    vertical-align:middle;
}
.container{
    width:48%;
    height:450px;
    border:1px solid gray;
    padding:10px 10px 10px 10px;
    float:left;
    background: black; 
    overflow: hidden;
    display: block;
}
.Slides{
    width: 300px;
    display: block;
    margin: 0 auto;
    position: relative;
    vertical-align:middle;
    
}

#frm{
    background: blue;
    width:100%;
    float: left;
    color: red;
}

#para{
    background: grey;
    width:100%;
    float: left;
    color: coral;
}
#left{
    background: pink;
    width:48%;
    float: left;
    color: green;
    height:450px;
    border:1px solid gray;
    padding:10px 10px 10px 10px;
}
